---
import { SEO } from 'astro-seo'

interface Props {
  title: string
  description: string
}

const { title } = Astro.props
const { description } = Astro.props
const image = `https://lebchen.rocks${Astro.url.pathname}some.jpg`
const audio = `https://lebchen.rocks${Astro.url.pathname}preview.mp3`
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      canonical={"https://lebchen.rocks" + Astro.url.pathname}
      openGraph={{
        basic: {
          title,
          type: 'website',
          image: image,
          url: "https://lebchen.rocks" + Astro.url.pathname,
        },
        optional: {
          description,
          audio: audio,
          locale: 'en_US',
          
        },
        image: {
          url: image,
          secureUrl: image,
          type: 'image/jpeg',
          width: 1200,
          height: 630,
          alt: title,
        }
      }}
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <aside class="background" aria-hidden="true">
      <img class="background-image" src="albumcover.jpg" />
      <img class="background-image" src="background.jpg" />
    </aside>
    <slot name="over-header" />
    <header>
      <h1>
        <img
          class="coverimage"
          alt="Lebchen - Don't Be Gentle"
          src="albumcover.jpg"
        />
      </h1>
      <div class="title"><slot name="subtitle" /></div>
    </header>
    <main>
      <div>
        <audio src="preview.mp3" controls=""></audio>
      </div>
      <slot />
    </main>
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
  }

  h1 {
    margin: 0;
    display: flex;
    padding: 20px 0;
  }

  .title {
    margin-bottom: 0;
    color: white;
    font-family: sans-serif;
    text-align: center;
    font-size: 35px;
    margin: 0;
    padding-bottom: 15px;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  body {
    margin: 0;
    padding: 0;
  }

  main {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 40px;
    padding: 0 30px 40px 30px;
  }

  @media screen and (max-width: 639px) {
    main {
      gap: 15px;
    }
  }

  .background {
    position: fixed;
    width: 100vw;
    top: 0;
    overflow: hidden;
    z-index: -1;
  }

  .background-image {
    width: 100%;
    filter: blur(4px) brightness(0.75);
  }

  @media (orientation: portrait) {
    .background {
      height: 100vh;
      width: initial;
    }

    .background-image {
      height: 100%;
      width: initial;
    }
  }

  .coverimage {
    max-width: 300px;
  }

  header {
    background: rgb(64 64 64 / 36%);
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 30px auto;
  }
</style>
