---
import { SEO } from 'astro-seo'

interface Props {
  title: string
}

const { title } = Astro.props
const description = "Welcome to lebchen's artist homepage! Here you can find all the information you need about lebchen's music and projects."
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      canonical={"https://lebchen.rocks" + Astro.url.pathname}
      openGraph={{
        basic: {
          title,
          type: 'website',
          image: "https://lebchen.rocks/mmc/some.jpg",
          url: "https://lebchen.rocks" + Astro.url.pathname,
        },
        optional: {
          description,
          locale: 'en_US',
          
        },
        image: {
          url: "https://lebchen.rocks/mmc/some.jpg",
          secureUrl: "https://lebchen.rocks/mmc/some.jpg",
          type: 'image/jpeg',
          width: 1200,
          height: 630,
          alt: title,
        }
      }}
    />
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --breakpoint-large: 1350xp;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  body {
    margin: 0;
    padding: 0;
  }
</style>
